.image-container {
	height: 75%;
	position: relative;
}

.socialmedia-container { 
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
	display: flex;
	width: 150px;
	height: 35px;
	justify-content: space-between;
	align-items: center;
	padding: 1%;

}