.profile-container {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	border: 2px white solid;
	right: 0;
	transition: all .7s;
}

.profile-container:hover {
	width: 100px;
	height: 100px;
}

.profile-picture {
	border-radius: 50%;
}