.social-container {
	position: absolute;
	bottom: 0;
	color: white;
	border: 1px solid white;
	display: flex;
	width: 150px;
	height: 35px;
	justify-content: space-between;
	align-items: center;
}

.twitter-logo:hover {
	transition: all .7s;
	color: #1da1f2;
}

.facebook-logo:hover {
	transition: all .7s;
	color: #3b5998;
}

.instagram-logo svg * {
	transition: all 3s ease;
	fill: white;
}

.instagram-logo:hover svg * {
  	fill: url(#rg);
}