html, body {
	height: 100%;
	width: 100%;
	background: #fffff;
}

.App {
  height: 30%;
  width: 500px;
  margin: 10% auto;
  position: relative;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 0px 5px 5px rgba(61, 61, 61, .7), 0px 7px 5px rgba(61, 61, 61, .3);
}

img {
  width: 100%;
  height: 100%;
}